* {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  --color-led-blue: #17D4FE;
  --color-led-light-blue: rgba(0, 255, 255, 0.7);
  --color-black: #000;
}

@font-face {
  font-family: 'Digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
}

body {
  font-family: 'Digital-7', Arial, sans-serif;
  background-image: linear-gradient(to right top, #01082b, #031233, #06183b, #0b1e43, #10244c, #112752, #122a57, #132d5d, #112d61, #0f2e66, #0d2e6a, #0b2e6e);
  overflow: hidden;
  height: 100vh;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-led-blue);
  background-color: var(--color-black);
  width: 450px;
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 7px;
  border: 5px solid #17D4FE;
  border-radius: 200px;
  padding: 30px;
  box-shadow: 0px 1px 2px 0px var(--color-led-light-blue),
    1px 2px 4px 0px var(--color-led-light-blue),
    2px 4px 8px 0px var(--color-led-light-blue),
    2px 4px 16px 0px var(--color-led-light-blue);
}


@media only screen and (max-width: 767px) {
  body {
    background-image: linear-gradient(to left bottom, #01082b, #031233, #06183b, #0b1e43, #10244c, #112752);
  }

  .clock {
    width: 300px;
    font-size: 40px;
    padding: 20px;
  }
}